<% if user_signed_in? %>
	<h1> Welcome mofucka.</h1>
	<% else %>
	<h1> Sign the fuck up</h1>
	<% end %>

<div class="hero-unit">
  <h1>Heading</h1>
  <p>Tagline</p>
  <p>
    <%= link_to "Say Whats Up", new_user_registration_path, class: "btn btn-primary btn-large" %>
  </p>
</div>



<div class="row-fluid">
  <div class="span4">
	<%= link_to "Animal", "http://www.thehumananimal.com" %>
	<p>
</div>
  <div class="span8"><h1>Welcome to OMRAILS</h1></div>
</div>






<%= link_to "HRS", "http://www.homeruns.com" %>
</p>